body{
    background-image: url('./images/riddle_me_this.png');
    background-size: 1400px;
    width: 500px;
    height: 800px;
    border: 2px solid;
}

h1{
    color: white;
}

.button1 {
    background-color: #0e8c12; 
    border: 2px solid #060706;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button2 {
    background-color: #0e8c12; 
    border: 2px solid #060706;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }

  .button1:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
  }

  .button2:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
  }